@model List<Book>

<h2>Список книг</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParam"]">Автор</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]">Название</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["YearSortParam"]">Год издания</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        @foreach (var book in Model)
        {

            <tr id="parent" class="element">
                <td >@book.Author</td>
                <td >@book.Title</td>
                <td >@book.Year</td>
                <td >
                    <button id="hideButton" class="hideButton content_toggle" asp-route-id="@book.Id">Купить</button>
                </td>
            </tr>
               
                
            
            
        }
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".hideButton").on("click", function () {
            // Находим родительскую строку (tr) и скрываем ее
            $(this).closest("tr").hide();
        });
    });
</script>